EktronCrawler/Service References/AssetTransferServiceReference/AssetTransferServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssetTransferServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAssetTransferServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ektron.Cms.Search.Assets.Server.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAssetRequest">
    <wsdl:part name="parameters" element="tns:GetAssetRequest" />
  </wsdl:message>
  <wsdl:message name="GetAssetResponse">
    <wsdl:part name="parameters" element="tns:GetAssetResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssetResponse_Headers">
    <wsdl:part name="LastWrite" element="tns:LastWrite" />
    <wsdl:part name="Size" element="tns:Size" />
    <wsdl:part name="Status" element="tns:Status" />
    <wsdl:part name="Success" element="tns:Success" />
  </wsdl:message>
  <wsdl:message name="IAssetTransferServer_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IAssetTransferServer_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssetTransferServer">
    <wsdl:operation name="GetAsset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssetTransferServer/GetAsset" name="GetAssetRequest" message="tns:GetAssetRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssetTransferServer/GetAssetResponse" name="GetAssetResponse" message="tns:GetAssetResponse" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssetTransferServer/Ping" message="tns:IAssetTransferServer_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssetTransferServer/PingResponse" message="tns:IAssetTransferServer_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssetTransferServer" type="tns:IAssetTransferServer">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAssetTransferServer_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAsset">
      <soap:operation soapAction="http://tempuri.org/IAssetTransferServer/GetAsset" style="document" />
      <wsdl:input name="GetAssetRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssetResponse">
        <soap:header message="tns:GetAssetResponse_Headers" part="LastWrite" use="literal" />
        <soap:header message="tns:GetAssetResponse_Headers" part="Size" use="literal" />
        <soap:header message="tns:GetAssetResponse_Headers" part="Status" use="literal" />
        <soap:header message="tns:GetAssetResponse_Headers" part="Success" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IAssetTransferServer/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssetTransferServer">
    <wsdl:port name="BasicHttpBinding_IAssetTransferServer" binding="tns:BasicHttpBinding_IAssetTransferServer">
      <soap:address location="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>