EktronCrawler/Service References/AssetTransferServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ektron.Cms.Search.Assets.Server.Data" />
  <xs:element name="GetAssetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LastWriteUtc" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="Data" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastWrite" type="xs:dateTime" />
  <xs:element name="Size" type="xs:long" />
  <xs:element name="Status" nillable="true" type="xs:string" />
  <xs:element name="Success" type="xs:boolean" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ektron.Cms.Search.Assets.Server.Data" minOccurs="0" name="PingResult" nillable="true" type="q2:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>